*{
  box-sizing: border-box;
}

body{
  margin: 0%;
  color: #00a9ca;
  padding: 0%;
  background-color: rgb(8, 8, 8);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: #F5D7E3;
}
nav{
  background-color: blueviolet;
  margin: 1em 1em;
  height: 7%;
  border-radius: 5px;
}

ul{
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar-icons{
  height: 2em;
}
.rightnav a, .leftnav a{
  font-size: 1.2rem;
}
.navcontainer{
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-size: 1.5em;
}
.rightnav{
  align-self: center;
  display: flex;
  align-items: center;
}

.rightnav img{
  padding: 0.3em;
}
.leftnav{
  display: flex;
  justify-content: space-around;
  width: 10em;
  align-items: center;
}

.layer1 h3{
  font-size: 4rem;
  font-weight: bolder;
  color: white;
}
.mainIntro{
  border-radius: 7px;
  margin: 0em 1em;
  height: 90%;
  background-image: url(./res/programming.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: auto auto;

}
.layer1{
  display: flex;
  margin: auto;
  font-size: 5em;
}
.layer2{
  display: flex;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
}

.layer2 h4, .layer2 p{
  color: white;
}
.notice {
  color: white;
}

.heading h1{
  font-size: 4rem;
  color: white;
  text-align: center;
  border: 10px dotted forestgreen;
   
}

.portfolio{
  display: flex;
  /* justify-content: space-evenly; */
}

.portfolio-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-card h2{
  text-align: center;
}
.portfolio-card img{
  width: 80%;
}
#menu-icon{
  display: none;
}

#menu-icon:hover .sub-menu{
  display: block;
}
#menu-icon img{
  width: 1em;
}

.sub-menu{
  background-color: blueviolet;
  border-radius: 3px;
  display: none;
  position: absolute;
  right: 4%;
  margin-top: 0.7rem;
}

.sub-menu ul li {
  font-size: 1rem;
  color: black;
}

.sub-menu ul li a{
  font-weight: bolder;
  color: black;
}
#menu-close-icon {
  display: none;
}

@media screen and (max-width: 583px) {
  .leftnav{
    display: none;
  }
  #menu-icon {
    display: block;
    align-self: center;
    padding-right: 0.5em;
  }
  .layer1 h3{
    font-size: 2rem;
    text-align: center;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
  }
}

.skills-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-container div{
  text-align: center;
}

.skills-container div p{
  font-size: 03em;
}

.why-me-section{
  text-align: center;
}

footer{
  background-color: blueviolet;
  text-align: center;
  margin: 0.8em 0.5em;
  height: 5%;
  border-radius: 5px;
}