*{
  box-sizing: border-box;
}

body{
  margin: 0%;
  color: #00a9ca;
  padding: 0%;
  background-color: rgb(88, 88, 88);
  height: 100vh;
}
a{
  text-decoration: none;
  color: #F5D7E3;
}
nav{
  background-color: blueviolet;
  margin: 1em 1em;
  height: 7%;
  border-radius: 5px;
}

.rightnav a, .leftnav a{
  font-size: 1.5rem;
}
.navcontainer{
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-size: 1.5em;
}
.rightnav{
  align-self: center;
  display: flex;
  align-items: center;
}

.rightnav img{
  padding: 0.3em;
}
.leftnav{
  display: flex;
  justify-content: space-between;
  width: 18%;
  align-items: center;
}
.mainIntro{
  border-radius: 7px;
  margin: 0em 1em;
  height: 90%;
  background-image: url(./res/programming.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: auto auto;

}
.layer1{
  display: flex;
  margin: auto;
  font-size: 5em;
}
.layer2{
  display: flex;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
}
#lastname, #firstname{
  position: absolute;
}
#lastname{
  right: -150px;
}
#firstname{
  left: -400px;
}
.notice {
  color: white;
}

